<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Piserver - URL shortener </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header> 
    <h1> Clean up your urls </h1>
  </header>
  <main id='app'>
    <form>
      <label for="url">URL</label>
      <input v-model="url" name="url" id="url">
      <label for="slug">Slug</label>
      <input v-model="slug" name="slug" id="slug">
      <button type="submit">Create</button>
    </form>
  </main>
</body>
</html>