* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  padding-top: 2rem;
}

a {
  cursor: pointer;
  padding-top: 2rem;
}